<h1>Directory of Student Pages</h1>

<ul>

    <li><%= link_to 'z0faas', z0faas_path %></li>


    <li><%= link_to 'shalin', shalin_path %></li>

    <li><%= link_to 'alissamartini', alissamartini_path %></li>


</ul>
